<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key> 
		<false/>
	<key>Label</key> 
		<string>org.rightcore.macmotd</string>
	<key>UserName</key>
		<string>extra</string>
	<key>ProcessType</key>
		<string>Background</string>
	<key>WorkingDirectory</key>
		<string>/var/empty</string>
	<key>StandardErrorPath</key>
		<string>/usr/extra/log/launchd</string>
	<key>Program</key>
		<string>/usr/extra/sbin/macmotd</string>
	<key>ProgramArguments</key>
	<array>
		<string>macmotd</string>
	</array>
	<key>KeepAlive</key>
		<true/>
	<key>RunAtLoad</key>
		<true/>
</dict>
</plist>
